.parent {
    display: grid;
    /* grid-template-columns: repeat(8, 1fr); */
    grid-template-columns: 1.1fr 2fr 2fr 2.1fr 1.9fr 1fr 2fr;
    grid-template-rows: 1.1fr 2fr 2fr 2.1fr 1.9fr 1fr 2fr;
    grid-template-rows: repeat(8, 3fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.grid-top {
    display: grid;
    grid-template-columns: repeat(14, 3fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.grid-middle {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(14, 0.2fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.gird-bottom {
    display: grid;
    grid-template-columns: repeat(14, 3fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.car {
    background-image: url("../img/car.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
}
.rueda-trasera-derecha {
    color: #fff;
    border: dotted 3px rgb(0, 247, 255);
    grid-area: 1 / 2 / 5 / 5;
    height: 100px;
}
.rueda-delantera-derecha {
    color: #fff;
    border: dotted 3px rgb(0, 247, 255);
    grid-area: 1 / 9 / 5 / 12;
    height: 100px;
}

.rueda-trasera-izquierda {
    color: #fff;
    border: dotted 3px rgb(0, 247, 255);
    grid-area: 2 / 2 / 6 / 5;
    margin-top: 24px;
    height: 100px;
}
.rueda-delantera-izquierda {
    color: #fff;
    border: dotted 3px rgb(0, 247, 255);
    grid-area: 1 / 9 / 5 / 12;
    margin-top: 25px;
}

.gas {
    color: #fff;
    border: dotted 3px rgb(0, 247, 255);
    grid-area: 7 / 1 / 8 / 3;
    height: 50px;
}
.trompa {
    color: #fff;
    border: dotted 3px rgb(0, 247, 255);
    grid-area: -8 / 12 / -9 / 14;
    height: 50px;
}
