/* apply a natural box layout model to all elements, but allowing components to change */
html,body, #root, #root>div{
  height: 100vh;
}
html {
  box-sizing: border-box;
}
body {
  line-height: 2; /* a nice line-height */
}

*, *:before, *:after {
  box-sizing: inherit;
}
.drag-drop-container {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  overflow-y: auto;
}

.item {
  margin: 20px;
  padding: 10px;
  border: 1px solid blue;
  cursor: pointer;
}
.row-car{
    display: flex;
    justify-content:start;
    height: 100%;
}

.col-1{
  border: solid 1px;
  display: flex;
  margin-left: 60px;
  justify-content: space-between;
  flex-direction: column;
}

.col-2{
  border: solid 1px;
  display: flex;
  margin-left: 60px;
  justify-content: space-between;
  flex-direction: column;
}
.col-1-rueda-delantera-derecha{
  background-color: red;
  width:100px;
  height: 100px;
}
.col-1-rueda-trasera-derecha{
  background-color: red;
  width:100px;
  height: 100px;
}

.mechanics{
  width: 100%;
  height: 200px;
  margin-top:20px;
}
.mechanics ul.mechanic{
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-left: 0px;
}
.card:hover{
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.card:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/*DROP AREA*/
.overstyle{
  -webkit-box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.75);
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  opacity: 1;
}
.card img{
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
img.card-mechanic{
  width: 100px;
  margin: 10px auto;
}

ul.mechanic li{
  text-align: center;
  border: solid 1px #FFF;
}

ul.mechanic li img{
  max-width: 100%;
}